body {
    font-size: 16px;
    font-family: 'Avenir', sans-serif;
    width: 100%
}

div {
    display: block;
}

a {
    text-decoration: none;
}

i {
    padding-right: 0.5rem;
}

.flex {
    display: flex;
}

/*Navigation Section*/
.logo {
    align-items: center;
    padding-left: 1.5rem;
}

.logo img {
    height: 10rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: rgba(10, 101, 10, 0.5);
    position: fixed;
    z-index: 2;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-right: 5px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
}

.nav > .nav-links > a:hover {
    color: #434343;
    text-decoration: underline;
    transition: color 300ms ease-in-out;
    transition: text-decoration 500ms ease-in-out;
}

.nav > #nav-check {
    display: none;
}

@media (max-width:900px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #000000;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        height: 0px;
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
        border-bottom: 1px solid #FFFFFF;
    }

    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked + .nav-links {
        margin-top: 1.9rem;
        height: 20rem;
        overflow-y: auto;
    }
}

/*News*/
main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newsblocks {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    font-family: Avenir;
    overflow-x: hidden;
    width: 100%;
}

.newsblock {
    margin-top: 10rem;
}

.header {
    font-size: 2.5rem;
    color: #0A650A;
    font-weight: 100;
    padding: 0.5rem;
}

.block {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    background-color: #0A650A;
    border-radius: 1rem 1rem 1rem 1rem;
}

.block:hover {
    box-shadow: 10px 10px 5px #959595;
    opacity: 1;
    transition: all 300ms ease-in;
    background-color: #034D03;
}

.block img {
    width: 60%;
    border-radius: 1rem 0rem 0rem 1rem;
}

.newsTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding: 1.5rem;
    color: #FFFFFF;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.newsTitle:hover {
    background-color: #034D03;
    transition: background-color 800ms ease-in-out;
}

.newsNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(119, 119, 119, 0.8);
    margin: 13rem 2rem 0rem 5rem;
    width: 25%;
    height: 25%;
    position: relative;
}

.newsNav a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

.newsNav a:hover {
    color: #434343;
    text-decoration: underline;
    transition: color 300ms ease-in-out;
    transition: text-decoration 500ms ease-in-out;
}

@media only screen and (max-width: 900px) {
    .newsNav {
        display: none;
    }

}

/*News Popups*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modalTitle {
    font-size: 2.5rem;
    color: #0A650A;
    font-weight: 100;
    padding: 0.5rem;    
}

.modalText {
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.newsStory {
    display: flex;
    flex-direction: row;
    background-color: #0A650A;
    width: 80%;
    color: #FFFFFF;
    margin: 0.5rem;
}

.newsStory img {
    width: 30%;
}

.story {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.innerTitle {
font-size: 1.5rem;
}

.date {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.testimonialImg {
    padding: 0.5rem;
}

.testimonial {
    font-size: 1rem;
    color: #FFFFFF;
}

/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #cecece;
    margin-top: 2rem;
    padding: 1.75rem;
    padding-bottom: 1rem;
    color: #FFFFFF;
    background-color: #777777;
    position: relative;
}

footer a {
    color: #FFFFFF;
}

footer a:hover {
    color: #D0D0D0;
    text-decoration: underline;
    transition: color 300ms ease-in-out;
    transition: text-decoration 300ms ease-in-out;
}

footer h2 {
    text-decoration: underline;
    font-size: 1.5rem;
    padding-bottom: 0.25rem;
}

.footerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.navigation,
.contactUs {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5rem;
}

.contactUs span {
    padding-bottom: 0.5rem;
}

.navigation span {
    padding-bottom: 0.5rem;
}

.social {
    display: flex;
    flex-direction: column;
}

.socialLogos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.25rem;
}

.fa-linkedin {
    color: #0077B5;
}

.fa-facebook-square {
    color: #4267B2;
}

.fa-twitter-square {
    color: #38A1F3;
}

.fa-instagram {
    color: #fb3958;
}

.fa-youtube-square {
    color: #FF0000;
}

.fa-google-plus-square {
    color: #CC3333;
}

.fa-pinterest-square {
    color: #C8232C;
}

.fab:hover {
    color: #FFF;
    transition: ease-in 0.75s;
}

.footerBottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.75rem;
}

.footerLinks a {
    padding-right: 0.5rem;
    border-right: 1px solid #FFFFFF;
}

.footerLinks .last {
    border-right: none;
}

@media only screen and (max-width: 660px) {

    .footerTop,
    .footerBottom {
        display: flex;
        flex-direction: column;
    }

    .socialLogos {
        justify-content: flex-start;
    }
}