/*News*/
main {
    flex-direction: row;
}

.newsblocks {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    font-family: Avenir;
    overflow-x: hidden;
    width: 100%;
    margin-top: 8rem;
}

.newsblock {
    cursor: pointer;
}

.header {
    font-size: 2.5rem !important;
    color: #0A650A !important;
    font-weight: 100 !important;
    padding: 0.5rem !important;
}

.block {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
    background-color: #0A650A;
    border-radius: 1rem 1rem 1rem 1rem;

}

.block:hover {
    box-shadow: 10px 10px 5px #959595;
    opacity: 1;
    transition: all 300ms ease-in;
    background-color: #034D03;
}

.block img {
    width: 60%;
    border-radius: 1rem 0rem 0rem 1rem;
}

.newsTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 40%;
    padding: 1.5rem;
    color: #FFFFFF;
    font-size: 1rem;
}

.title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.newsTitle:hover {
    background-color: #034D03;
    transition: background-color 800ms ease-in-out;
}

.newsNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(119, 119, 119, 0.8);
    margin: 10rem 2rem 0rem 5rem;
    width: 25%;
    height: 25%;
    position: relative;
}

.newsNav span {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

.newsNav span:hover {
    color: #434343;
    text-decoration: underline;
    transition: color 300ms ease-in-out;
    transition: text-decoration 500ms ease-in-out;
}

@media only screen and (max-width: 900px) {
    .newsNav {
        display: none;
    }

    .title {
        font-size: 1.35rem;
        font-weight: 500;
    }


}

/*News Popups*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    cursor: pointer;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modalTitle {
    font-size: 2.5rem;
    color: #0A650A;
    font-weight: 100;
    padding: 0.5rem;
}

.modalText {
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.newsStory {
    display: flex;
    flex-direction: row;
    background-color: #0A650A;
    width: 80%;
    color: #FFFFFF;
    margin: 0.5rem;
}

.newsStory img {
    width: 30%;
}

.story {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.innerTitle {
    font-size: 1.5rem;
}

.date {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-style: italic;
}

.testimonialImg {
    padding: 0.5rem;
}

.testimonial {
    font-size: 1rem;
    color: #FFFFFF;
}

@media only screen and (max-width: 900px) {
    .newsStory {
        width: 100%;
        height: 6rem;
    }

    .newsStory img {
        width: 40%;
    }

    .story {
        display: flex;
        flex-direction: column;
        padding: 0.75rem;
        overflow-x: hidden;
    }

    .innerTitle {
        font-size: 1rem;
    }

    .date {
        margin-top: 0.5rem;
        font-size: 0.75rem;
        font-style: italic;
    }
}