/*Contact*/
.contactPage {
    padding: 0;
    font-family: Avenir;
    display: flex;
    flex-direction: column;
    margin-top: 5.5rem;
}

.header {
    font-size: 2rem !important;
    color: #0A650A !important;
    font-weight: 100;
    padding: 1.5rem;
}

.contactTop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.deskMap {
    display: flex;
}

.mobMap {
    display: none;
}

.details {
    display: flex;
    flex-direction: column;
    background-color: rgba(119, 119, 119, 0.8);
    padding: 1.25rem;
    width: 20%;
}

.details a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #0A650A;
    font-size: 0.9rem;
}

.details span {
    padding: 0.5rem;
    color: #FFFFFF;
    font-size: 1rem;
}

.details i {
    color: #0A650A;
}

.contactBottom {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

label {
    font-family: "Avenir", sans-serif;
    font-size: 1.25rem;
}

input,
textarea {
    font-family: "Avenir", sans-serif;
    outline: 0;
    background: #F2F2F2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
}

.submit {
    font-family: "Avenir", sans-serif;
    outline: 0;
    background: #0A650A;
    color: #FFFFFF;
    width: 100%;
    border: 0;
    margin-top: 0.5rem;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1.25rem;
    cursor: pointer;
}

.submit:hover {
    background: #034D03;
}

@media only screen and (max-width: 900px) {
    .contactPage {
        justify-content: center;
        align-items: center;
    }

    .contactTop {
        flex-direction: column;
    }

    .deskMap {
        display: none;
    }

    .mobMap {
        display: inherit;
    }

    .map,
    .details,
    .contactBottom {
        margin-bottom: 0.5rem;
        align-items: center;
    }

    .details {
        width: 90%;
    }

}