.application__form {
    padding: 0;
    font-family: Avenir;
    overflow-x: hidden;
    width: 100%;
    margin-top: 8rem;
}

.page-wrapper {
  background: #e3e3e3;
  font-size: 16px;
}
.margin-l {
  margin-left: 5%;
}
.margin-r {
  margin-right: 5%;
}
.layout__row {
  display: flex;
}
.hide-questions {
  display: block;
}
.hide-questions--on {
  display: none;
}
.link:hover {
  text-decoration: none;
}
.link--sign-in {
  display: block;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.2;
}
.link--footer {
  color: #999;
}
.simple-header {
  width: 100%;
  box-sizing: border-box;
  background-color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
}
.simple-header__logo {
  max-width: 13.13rem;
  margin: auto;
  display: block;
}
@media (min-width: 48rem) {
  .simple-header__logo {
    max-width: 16.25rem;
  }
}
@media (min-width: 64rem) {
  .simple-header__logo {
    max-width: 21.56rem;
  }
}
.application {
  max-width: 25rem;
  width: 90%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto 1rem auto;
  font-family: "Lato", sans-serif;
}
@media (min-width: 48rem) {
  .application {
    max-width: 600px;
  }
}
@media (min-width: 64rem) {
  .application {
    max-width: 900px;
  }
}
.application__header {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #0A650A;
  margin: 0 0.5rem 0.7rem 0;
  padding: 0;
}
@media (min-width: 48rem) {
  .application__header {
    font-size: 1.4rem;
  }
}
.application__logo {
  width: 90px;
  height: 35px;
  margin-bottom: 0.5rem;
}
.application__step {
  box-sizing: border-box;
  margin: 0 0 1rem 0;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.application__step-header {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.application__step-num {
  display: inline-block;
  background-color: #fff;
  color: #0A650A;
  border-radius: 50px;
  padding: 0.4rem 0.62rem;
  margin-right: 0.5rem;
  border: #0A650A solid 2px;
}
.application__question {
  padding: 0 1rem 0.8rem 1rem;
  position: relative;
}
.application__question-container {
  width: 80%;
  position: relative;
}
.application__input {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f7f7f7;
}
.application__radio {
  width: 30px;
  border-radius: 5px;
  border: solid 1px #ccc;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: relative;
  margin-right: 1rem;
  font-size: 0.8rem;
  overflow: hidden;
}
.application__radio-label {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  background: #f7f7f7;
}
.application__radio-button {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}
.application__radio-button:checked + .application__radio-label {
  background-color: #909090;
  color: #fff;
}
.application__select {
  color: #333;
  border-radius: 0;
  background: #f7f7f7;
  width: 100%;
  padding: 0.2rem 0.5rem;
  border: 1px solid #ccc;
  font-size: 0.85rem;
  height: 28px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.application__select-border {
  position: absolute;
  width: 1px;
  height: 14px;
  right: 30px;
  top: 7px;
  border-left: 1px solid #d1d1d1;
}
.application__select-container {
  width: 90%;
  position: relative;
}
.application__select-container:after {
  width: auto;
  content: "\f358";
  font-family: "FontAwesome";
  position: absolute;
  right: 12px;
  pointer-events: none;
  top: 38%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #333;
}
.application__label {
  color: #333;
  font-size: 0.85rem;
  margin-bottom: 6px;
  display: block;
}
.application__label-text {
  color: #333;
  display: block;
  font-size: 0.8rem;
  font-weight: bold;
  left: 0.3rem;
  position: absolute;
  top: 0.5rem;
  transition: top 0.1s, color 1s;
  padding: 0 3px;
}
.application__label-text--up {
  color: #999;
  font-size: 0.6rem;
  top: -0.3rem;
  background: #fff;
}
.application__label--vertical-align {
  margin-top: 0.5rem;
  width: 70%;
}
.application__button {
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  font-size: 0.85rem;
  width: auto;
  cursor: pointer;
  border: none;
  min-width: 70px;
}
.application__button--upload {
  background: #0A650A;
  width: 40%;
  max-width: 140px;
  padding: 0.3rem 0;
  margin-top: 0;
  margin-bottom: 0;
}
.application__button--continue {
  background-color: #0A650A;
  height: 27px;
}
.application__button-cloud-icon {
  margin-left: 5px;
  font-size: 1rem;
  border-left: solid 1px #fff;
  padding-left: 5px;
}
.application__button--central {
  display: block;
  margin: 1rem auto;
  float: none;
}
.application__error {
  width: 10%;
  text-align: center;
  font-size: 1.25rem;
  color: red;
}
.application__error--on .application__error-icon {
  display: block;
}
.application__error-icon {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}
.application__meter {
  width: 100%;
  height: 10px;
  position: relative;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: #ccc;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.application__meter-bar {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #2bc253;
  background-image: linear-gradient(center bottom, #2bc253 37%, #54f054 69%);
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  animation: expandWidth 1s linear forwards;
}
.application__controls {
  display: none;
  padding: 0 1rem;
  margin: 0 0 1rem 0;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.application__controls--on {
  display: block;
}
.application__progress-container {
  width: 100%;
  position: relative;
}
.application__progress-text {
  font-size: 11px;
  color: #666;
  width: 10%;
  box-sizing: border-box;
  text-align: center;
}
.application__chevron {
  vertical-align: middle;
  cursor: pointer;
}
.application__help-message {
  margin: 0.5rem 0;
}
.application__help-message--on {
  display: block;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;
  line-height: 1.2;
}
.application__help-message--off {
  display: none;
}
.application__message {
  color: #333;
  font-size: 0.8rem;
  display: block;
  margin-bottom: 0.5rem;
}
.simple-footer {
  font-family: "Lato", sans-serif;
  font-size: 0.8125rem;
  padding: 1.25rem;
}
.simple-footer__nav-list {
  max-width: 18.75rem;
  margin: auto;
  display: block;
  text-align: center;
}
.simple-footer__nav-list-item {
  display: inline-block;
  margin: 0 1rem;
}
@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes expandWidth {
  0% {
    width: 0;
  }
}
