/*News*/
main {
    flex-direction: row;
}

.header {
    font-size: 2.5rem;
    color: #0A650A;
    font-weight: 100;
    padding: 0.5rem;
}

.jobResults {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0;
    font-family: Avenir;
    overflow-x: hidden;
    width: 100%;
    margin-top: 8rem;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 2rem 0rem 2rem;
    width: 25%;
    height: 100%;
    position: relative;
}

.filters a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.25rem;
}

.filters a:hover {
    color: #434343;
    text-decoration: underline;
    transition: color 300ms ease-in-out;
    transition: text-decoration 500ms ease-in-out;
}

@media only screen and (max-width: 900px) {
    .filters {
        display: none;
    }

}

.filterHeader {
    color: #777777;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #0A650A;
    padding: 30px;
    width: 200px;
    height: 180px;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--radio .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
}

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #000;
    background: #ccc;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
}

.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
    border-top-color: #000;
}

.select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
}



.jobResultsSec {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.jobs {
    width: 70%;
}

.job {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #777777;
    padding-bottom: 2.5rem;
}

.jobDesc {
    display: flex;
    flex-direction: column;
}

.jobTitle {
    font-size: 2.5rem;
    color: #0A650A;
    font-weight: 100;
    margin: 1rem 0 1rem 0;
}

.jobSpecs span {
    padding: 0 0.75rem 0 .75rem;
    border-right: 1px solid #777777;
    text-transform: uppercase;
}

.first {
    padding-left: 0rem !important;
}

.jobRole {
    padding-top: 1rem;
    font-size: 1.1rem;
}

.apply {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-right: 0.5rem;
}

.applyBtn {
    color: #FFFFFF;
    background-color: #0A650A;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.applyBtn:hover {
    box-shadow: 10px 10px 5px #959595;
    opacity: 1;
    transition: all 300ms ease-in;
    background-color: #034D03;
}

.job img {
    width: 80%;
}

@media only screen and (max-width: 900px) {
    .header {
        text-align: center;
    }

    .jobs {
        width: 100%;
    }

    .job {
        flex-direction: column;
        text-align: center;
    }

    .jobTitle {
        padding-top: 0.5rem;
        font-size: 1.35rem;
    }

    .jobRole {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }

    .job img {
        display: none;
    }
}